{% extends 'layouts/base.html' %}
{% block content %}
<h1>About</h1>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt voluptatem omnis soluta! Vitae error, quos culpa cumque accusamus tempora aliquam, minus praesentium dolores natus et, qui similique perspiciatis! Nemo iste recusandae optio aliquid. Repudiandae nihil similique magnam recusandae enim vitae tempora assumenda dolorum nulla inventore. Atque, ducimus animi! Tenetur in corrupti quo iure dolorem officiis nesciunt illum expedita ab praesentium quas provident laborum, possimus, voluptatem fugiat eum adipisci, placeat ducimus. Optio perferendis amet dolore accusantium obcaecati odio laboriosam cupiditate! Accusantium eligendi distinctio tenetur totam voluptate sapiente! Vero aliquam commodi quasi quam ex! Iste voluptas, numquam minima dolore dolorum quia autem.</p>

<p>Website created by {{username}}</p>
{%endblock%}